@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-width: unset;
  height: unset;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
